html, body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;   
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
    width: 100%; /* Define a largura como 100% da viewport */
    height: 100%; /* Define a altura como 100% da viewport */
    box-sizing: border-box; /* Inclui bordas e padding dentro das dimensões */
}

.form-container {
    width: 1087px;
    height: 1819px;
    margin: 20px auto;
    /* padding: 20px; */
    /* border: 2px solid #008000; */
    /* border-radius: 10px; */
    background-color: #ffffff;
    /* box-shadow: 0 4px 10px #008000; */
    /* page-break-inside: avoid; */
    z-index: 20px;
}

.form-container-name {
    max-width: 1099px;
    margin: 5px 0px auto;
    padding: 13px;
    border: 1px solid #008000;
    background-color: #ffffff;
    box-shadow: 0 0px 0px #008000;
    page-break-inside: avoid;
    position: relative;
    width: 1058px;
    height: 93px;
    top: -90px;
}

.form-header {
    text-align: center;
    color: #008000;
    width: auto;
    height: auto;
}

.form-header h1 {
    font-size: 24px;
}

.form-header p {
    font-size: 16px;
}

.form-group-qualidade-tecnica {
    border: 2px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 544px;
    height: 100px;
    top: -82px;
}

.form-group-qualidade-tecnica .a1 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.name-label-qualidade {
    position: relative;
    left: -148px;
    top: -21px;
}


.form-group-radiografia-normal {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 539px;
    height: 100px;
    top: -204px;
    left: 545px;
}

.form-group-radiografia-normal .b1 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.name-label-radiografia-normal {
    position: relative;
    left: -134px;
    top: -21px;
}

.form-group-2a {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1084px;
    height: 64px;
    top: -213px;
    /* left: 0px; */
}

.form-group-2a .a2 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.label-name-anormalidade-a2 {
    position: relative;
    left: -317px;
    text-align: center;
    top: -21px;
}

#comentario {
    width: 91%;
    padding: 8px;
    /* margin-top: -7px; */
    border: 1px solid #008000;
    border-radius: 0px;
    font-size: larger;
    box-sizing: border-box;
    position: relative;
    top: -52px;
    left: 35px;
}

.name-label-comentario {
    position: relative;
    left: -188px;
    top: -47px;
}

.form-group-2b {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flexs;
    flex-direction: column;
    position: relative;
    width: 798px;
    height: 223px;
    top: -235px;
    /* left: 0px; */
}

.form-group-2b .b2 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.form-group-2c {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 285px;
    height: 223px;
    top: -662px;
    left: 798px;
}

.form-group-2c .c2 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.form-group-3a {
    border-top: 1px solid #008000;
    border-left: 1px solid #008000;
    border-right: 1px solid #008000;
    margin-bottom: 20px;
    display: flexs;
    flex-direction: column;
    position: relative;
    width: 1084px;
    height: 54px;
    top: -671px;
    left: -1px;
}

.form-group-3a .a3 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.form-group-3b {    
    border-top: 1px solid #008000;
    border-left: 1px solid #008000;
    border-right: 1px solid #008000;
    position: relative;
    width: 1084px;
    height: 236px;
    top: -692px;
    left: -1px;
}

.form-group-3b .b3 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -2px -1px;
    padding: 5px;
}

.form-group-3c {
    border: 1px solid #008000;
    margin-bottom: 20px;
    position: relative;
    width: 1085px;
    height: 50px;
    top: -996px;
    left: -2px;
}
.form-group-3c .c3 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}
.form-group-3d {
    border-top: 1px solid #008000;
    border-left: 1px solid #008000;
    border-right: 1px solid #008000;
    position: relative;
    width: 1086px;
    height: 236px;
    top: -1017px;
    left: -3px;
}
.form-group-3d .d3{
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -2px -1px;
    padding: 5px;

}

.label-name-pequenas-opacidades-b2 {
    position: relative;
    left: -247px;
    text-align: center;
    top: -24px;
}

.label-pequenas-opacidades-b2 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 63px;
    height: 22px;
    border: 1px solid #008000;
    align-items: center;
    gap: 3px;
    padding: 5px;
    position: relative;
    left: -1px;
    top: -27px;
    margin: -1px 0px 0px 0px;
}

.label-pequenas-opacidades-b2-01 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 22px;
    border: 1px solid #008000;
    align-items: center;
    gap: 14px;
    padding: 5px;
    position: relative;
    left: 73px;
    top: -128px;
    margin: -1px 0px 0px 0px;
}

.Primaria {
    border: 1px solid #008000;
    position: relative;
    width: 141px;
    height: 123px;
    left: 44px;
    top: -46px;
    /* z-index: 5; */
}

.Primaria p {
    position: relative;
    top: -14px;
}

.name-forma-tamanho {
    position: relative;
    top: -35px;
    left: -281px;

}

.label-pequenas-opacidades-b2-secundaria label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 63px;
    height: 22px;
    border: 1px solid #008000;
    align-items: center;
    gap: 3px;
    padding: 5px;
    position: relative;
    left: -1px;
    top: -27px;
    margin: -1px 0px 0px 0px;

}

.label-pequenas-opacidades-b2-secundaria-01 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 21px;
    border: 1px solid #008000;
    align-items: center;
    gap: 14px;
    padding: 5px;
    position: relative;
    left: 73px;
    top: -126px;
    margin: -1px 0px 0px 0px;
}

.secundaria {
    border: 1px solid #008000;
    position: relative;
    width: 141px;
    height: 123px;
    left: 195px;
    top: -172px;
    /* z-index: 5; */
}

.secundaria p {
    position: relative;
    top: -13px;
}

.label-pequenas-opacidades-b-Zonas label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 63px;
    height: 20px;
    border: 1px solid #008000;
    align-items: center;
    gap: 3px;
    padding: 5px;
    position: relative;
    left: -1px;
    top: -25px;
    margin: -1px 0px 0px 0px;
}

.name-D {
    margin: 28px 0px 0px 63px;
}

.label-pequenas-opacidades-b-Zonas-01 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 20px;
    border: 1px solid #008000;
    align-items: center;
    gap: 14px;
    padding: 5px;
    position: relative;
    left: 73px;
    top: -151px;
    margin: -1px 0px 0px 0px;
}

.name-E {
    margin: 28px 0px 0px 63px;
}

.b-zonas {

    position: relative;
    width: 141px;
    height: 135px;
    left: 380px;
    top: -325px;
    /* z-index: 5; */
}

.b-zonas p {
    position: relative;
    top: -13px;
    left: -38px;
}

.b-zonas input {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 6px 3px 7px 20px;
    padding: initial;
    border: initial;
    width: 20px;
    height: 20px;
}

.c-profusao {
    position: relative;
    width: 141px;
    height: 135px;
    left: 556px;
    top: -475px;
    /* z-index: 5; */
}

.c-profusao p {
    position: relative;
    top: -13px;
    left: -29px;
}

.c-profusao input {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 6px 3px 5px 0px;
    padding: initial;
    border: initial;
    /* width: 20px; */
    /* height: 20px; */
}

.label-pequenas-opacidades-c-profusao label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 63px;
    height: 20px;
    border: 1px solid #008000;
    align-items: center;
    gap: 3px;
    padding: 5px;
    position: relative;
    left: -1px;
    top: -25px;
    margin: -1px 0px 0px 0px;

}

.label-pequenas-opacidades-c-profusao-01 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 20px;
    border: 1px solid #008000;
    align-items: center;
    gap: 14px;
    padding: 5px;
    position: relative;
    left: 73px;
    top: -151px;
    margin: -1px 0px 0px 0px;
}

.label-pequenas-opacidades-c-profusao-02 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 20px;
    border: 1px solid #008000;
    align-items: center;
    gap: 14px;
    padding: 5px;
    position: relative;
    left: 140px;
    top: -277px;
    margin: -1px 0px 0px 0px;
}

.label-name-grandes-opacidades-c2 {
    position: relative;
    left: 43px;
    text-align: center;
    font-size: large;
    top: -24px;
    width: 10px;
}

.label-grandes-opacidades-c2 label {
    font-size: 18px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: table-cell;
    width: 36px;
    height: 36px;
    border: 1px solid #008000;
    /* align-items: center; */
    /* gap: 3px; */
    padding: 5px;
    position: relative;
    left: 50px;
    top: 16px;
    margin: 0px 0px 0px 0px;
}

.label-grandes-opacidades-c2 input {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 10px 3px 5px 0px;
    padding: initial;
    border: aliceblue;
    border-radius: 0px;
    width: 15px;
    height: 15px;
}

.label-name-anormalidade-a3 {
    position: relative;
    left: 64px;
    top: -40px;
    width: 382px;
    text-align: -webkit-left;
}

.label-anormalidade-a3 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 42px;
    position: relative;
    left: 201px;
    top: -126px;
    margin: 0px -3px 0px -2px;
}

.label-anormalidade-a3 input {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-name-anormalidade-b3 {
    position: relative;
    left: 64px;
    top: -40px;
    width: 382px;
    text-align: -webkit-left;
}

.label-anormalidade-b3 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 24px;
    position: relative;
    left: -223px;
    top: -101px;
    margin: 0px -3px 0px -2px;
}

.label-anormalidade-b3 input {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-anormalidade-b3-Parede-perfil label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 57px;
    height: 20px;
    border: 1px solid #008000;
    padding: 6px;
    position: relative;
    left: 140px;
    top: -53px;
    margin: -1px -6px 0px 0px;
}

.label-anormalidade-b3-Parede-perfil p {
    position: relative;
    left: 500px;
    top: -5px;
    width: 77px;
    z-index: 20;
    text-align: -webkit-left;
}

.label-anormalidade-b3-Frontal-01 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -97px;
    margin: -1px -5px 0px -1px;
}

.label-anormalidade-b3-Frontal-01 p {
    position: relative;
    left: 500px;
    top: -57px;
    width: 77px;
    z-index: 20;
    text-align: -webkit-left;
}

.label-anormalidade-b3-Diafragma-02 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -143px;
    margin: 0px -5px 0px -1px;
}

.label-anormalidade-b3-Diafragma-02 p {
    position: relative;
    left: 500px;
    top: -102px;
    width: 74px;
    z-index: 20;
    text-align: -webkit-left;
}

.label-anormalidade-b3-Outros-locais-03 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -206px;
    margin: 0px -5px 0px -1px;
}

.label-anormalidade-b3-Outros-locais-03 p {
    position: relative;
    left: 500px;
    top: -155px;
    width: 74px;
    z-index: 20;
    text-align: -webkit-left;
}

.label-calcificacao-b3-01 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -206px;
    margin: 0px -6px 0px 0px;
}

.label-calcificacao-b3-02 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -199px;
    margin: 0px -6px 0px 0px;
}

.label-calcificacao-b3-03 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -194px;
    margin: 0px -6px 0px 0px;
}

.label-calcificacao-b3-04 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -188px;
    margin: 0px -6px 0px 0px;
}

.label-extensao-parede-b3-01 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 34px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: -139px;
    top: -531px;
    margin: 0px -6px 0px 0px;
}


.label-extensao-parede-b3-01 .label-e-b3 {
    position: relative;
    left: -77px;
    top: -524px;
    width: 34px;
}

.label-extensao-parede-b3-01 .label-e1-b3 {
    position: relative;
    left: -65px;
    top: -564px;
    width: 30px;
}
.label-extensao-parede-b3-01 .label-e2-b3 {
    position: relative;
    left: -20px;
    top: -556px;
    width: 30px;
}
.label-extensao-parede-b3-01 p{
    position: relative;
    top: -552px;
    left: -77px;
    width: 236px;
}
.label-largura-opcional-b3-01 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 34px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 84px;
    top: -771px;
    margin: 0px -6px 0px 0px;
}
.label-largura-opcional-b3-01 .label-largura-b3{
    position: relative;
    left: 160px;
    top: -766px;
    width: 35px;
}
.label-largura-opcional-b3-01 .label-largura1-b3{
    position: relative;
    left: 175px;
    top: -804px;
    width: 40px;

}
.label-largura-opcional-b3-01 .label-largura2-b3{
    left: 198px;
    top: -799px;
    width: 40px;
}
.label-largura-opcional-b3-01 p{
    position: relative;
    top: -793px;
    left: 167px;
    width: 119px;
}

.label-name-costofrenico-c3{
    position: relative;
    left: 64px;
    top: -37px;
    width: 382px;
    text-align: -webkit-left;

}
.label-costofrenico-c3 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 34px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 15px;
    top: -76px;
    margin: 0px -6px 0px 0px;
}

.label-name-pleural-difuso-d3{
    position: relative;
    left: 64px;
    top: -37px;
    width: 382px;
    text-align: -webkit-left;
}
.label-pleural-difuso-d3 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 24px;
    position: relative;
    left: -94px;
    top: -96px;
    margin: 0px -3px 0px -2px;
}
.label-pleural-difuso-d3 input{
    width: 20px;
    height: 20px;
}
.label-pleural-difuso-d3-Parede-perfi label{
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -55px;
    margin: -1px -5px 0px -1px;
}
.label-pleural-difuso-d3-Parede-perfi p {
    position: relative;
    left: 500px;
    top: -5px;
    width: 77px;
    z-index: 20;
    text-align: -webkit-left;
}
.label-pleural-difuso-d3-Frontal-01 label{
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: 141px;
    top: -97px;
    margin: -1px -5px 0px -1px;
}
.label-pleural-difuso-d3-Frontal-01 p{
    position: relative;
    left: 500px;
    top: -57px;
    width: 77px;
    z-index: 20;
    text-align: -webkit-left;
}
.label-calcificacao-d3-01 label {
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: -4px;
    top: -21px;
    margin: -1px -5px 0px -1px;
}
.label-calcificacao-d3-02 label{
    font-size: 16px;
    color: #008000;
    cursor: pointer;
    width: 59px;
    height: 20px;
    border: 1px solid #008000;
    padding: 5px;
    position: relative;
    left: -4px;
    top: -13px;
    margin: -1px -5px 0px -1px;

}


.div-local {
    position: relative;
    left: -461px;
    top: -125px;
}

.div-local .text-local {
    position: relative;
    left: 590px;
    top: 3px;
    width: 60px;
}

.div-local input {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 1px 8px 0px 3px;
    padding: initial;
    border: initial;
    width: 18px;
    height: 18px;
}

.div-calcificacao {
    position: relative;
    left: 660px;
    top: -199px;
    width: 218px;
}

.div-calcificacao .text-calcificacao {
    position: relative;
    left: 172px;
    top: -202px;
    width: 60px;
}

.div-extensao-parede {
    position: relative;
    left: 660px;
    top: -199px;
    width: 218px;
}

.div-extensao-parede .text-extensao {
    position: relative;
    left: -74px;
    top: -520px;
    width: 221px;
}

.div-largura-opcional{
    position: relative;
    left: 660px;
    top: -199px;
    width: 218px;
}
.div-largura-opcional .text-largura-opcional {
    position: relative;
    left: 172px;
    top: -761px;
    width: 263px;
    text-align: -webkit-left;
}
.content-largura-opcional{
    position: relative;
    top: -519px;
}
.content-extensaao-parede{
    position: relative;
    top: -519px;
}
.div-local-d3{
    position: relative;
    left: -461px;
    top: -125px;
}
.div-local-d3 .text-local-d3{
    position: relative;
    left: 590px;
    top: 3px;
    width: 60px;

}
.div-calcificacao-d3{
    position: relative;
    left: 806px;
    top: -199px;
    width: 218px;
}
.div-calcificacao-d3 .text-calcificacao-03{
    position: relative;
    left: 13px;
    top: -10px;
    width: 60px;
}
.oustras-anormalidades{
    position: relative;
    top: -842px;
    left: -2px;
}
.oustras-anormalidades .form-group-3a{
    width: 1086px;
    border-top: 1px solid #008000;
    border-left: 1px solid #008000;
    border-right: 1px solid #008000;
}
.oustras-anormalidades .label-name-anormalidade-a3 {
    margin: 23px 0px
}
.oustras-anormalidades .label-anormalidade-a3 label{
    position: relative;
    top: -126px;
    left: 0px;
}
.content-simbolos{
    position: relative;
    top: -842px;
    left: -2px;
}
.content-simbolos .form-group-3a {
    width: 1086px;
    height: 144px;
    position: relative;
    top: -693px;
}
.content-simbolos .label-name-anormalidade-a3 {
    margin: 23px -22px;
}

.content-simbolos .od-comentario {
    position: relative;
    top: -58px;
    left: -390px;
}

.container-4a {
    display: flex;
    position: relative;
    left: 37px;
    top: -52px;
    width: 1043px;
}

.content-comentario {
    position: relative;
    top: -885px;
    width: 1099px;
    height: 261px;
}
.content-comentario .form-group-3a{
    position: relative;
    width: 1085px;
    height: 260px;
    left: -2px;

}




.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #008000;
    width: 35px;
    height: 58px;
    text-align: center;
    position: relative;
    left: -9px;
}
.simbolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #008000;
    width: 35px;
    font-size: 22px;
    height: 24px;
    margin: -1px 1px;
    text-align: center;
}

.checkboxes {
    display: inline-flex;
    gap: 0px;
    width: 748px;
}

.item input[type="checkbox"] {
    margin: auto;
    display: block;
    width: 21px;
    height: 27px;
    position: relative;
}

.form-group-name {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 815px;
    height: 58px;
    left: -14px;
    top: -14px;
}

.form-group-date {
    border: 1px solid #008000;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 267px;
    height: 59px;
    top: -95px;
    left: 802px;
}

.form-group-nrx {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 271px;
    height: 59px;
    top: -101px;
    left: -14px;
}

.form-group-leitor {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 271px;
    height: 59px;
    left: 259px;
    top: -182px;
}

.form-group-rxdigital {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 271px;
    height: 58px;
    left: 531px;
    top: -263px;
}

.form-group-logo {
    border: 1px solid #008000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3px;
    position: relative;
    width: 122px;
    height: 83px;
}

.form-group-logo img {
    width: 150px;
    height: auto;
}

.form-group-logo-text {
    border: 2px solid #008000;
    margin-left: 20px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #008000;
    top: -89px;
    width: 960px;
    height: 83px;
    right: -104px;
}

.input-name {
    width: 100%;
    padding: 8px;
    margin-top: 23px;
    border: 1px solid #008000;
    border-radius: 0px;
    font-size: larger;
    box-sizing: border-box;
    position: relative;
    top: -5px;
    left: -38px;
}

.input-date {
    width: 81%;
    padding: 8px;
    margin-top: 24px;
    border: 1px solid #008000;
    color: #008000;
    border-radius: 0px;
    box-sizing: border-box;
    position: relative;
    font-size: x-large;
    top: -5px;
    left: 21px;
}

.input-numero-rx {
    width: 73%;
    padding: 7px;
    margin-top: 25px;
    border: 1px solid #008000;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: x-large;
    position: relative;
    top: -6px;
    left: -28px;
}

.input-Leitor {
    width: 57%;
    padding: 5px;
    margin-top: 25px;
    border: 1px solid #008000;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: x-large;
    position: relative;
    TOP: -7PX;
    left: -50px;
}


label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    cursor: pointer;
}

.label-rxgidital {
    position: relative;
    top: 8px;
    left: -32px;
    display: flex;
    gap: 51px;
    align-items: center;
}

.label-rxgidital label {
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espaço entre o quadrado e o texto */
}

.label-rxgidital input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-rxgidital input[type="radio"]:checked {
    background-color: #008000;
    /* Cor quando selecionado */
    border-color: #008000;
}

.label-rxgidital input[type="radio"]:focus {
    outline: 2px solid #008000;
}

.form-group-leitura-negatoscópio {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 267px;
    height: 59px;
    left: 803px;
    top: -344px;
}

.leitura-negat {
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    padding: 0px;
}

.text-datarx {
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    padding: 0px;
}

.label-negatoscopio {
    position: relative;
    top: 7px;
    left: 50px;
    display: flex;
    gap: 51px;
    align-items: center;
}

.label-negatoscopio label {
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    /* Espaço entre o quadrado e o texto */
}

.label-negatoscopio input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-negatoscopio input[type="radio"]:checked {
    background-color: #008000;
    /* Cor quando selecionado */
    border-color: #008000
}

.label-negatoscopio input[type="radio"]:focus {
    outline: 2px solid #008000
}

.label-qualidade-tecnica label {
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    border: 1px solid #008000;
    align-items: center;
    gap: 2px;
    padding: 3px;
    position: relative;
    left: 30px;
    top: -49px;
    margin: 0px -3px 0px -2px;
}

.label-qualidade-tecnica input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-qualidade-tecnica input[type="radio"]:checked {
    background-color: #008000;
    /* Cor quando selecionado */
    border-color: #008000
}

.label-qualidade-tecnica input[type="radio"]:focus {
    outline: 2px solid #008000
}

.labe-radiografia-normal label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    /* border: 1px solid #008000; */
    align-items: center;
    gap: 2px;
    padding: 3px;
    position: relative;
    left: -17px;
    top: -12px;
    margin: 0px -3px 0px -2px;
}

.labe-radiografia-normal input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.labe-radiografia-normal input[type="radio"]:checked {
    background-color: #008000;
    /* Cor quando selecionado */
    border-color: #008000
}

.labe-radiografia-normal input[type="radio"]:focus {
    outline: 2px solid #008000
}

.label-anormalidade-a2 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    /* border: 1px solid #008000; */
    align-items: center;
    gap: 12px;
    padding: 42px;
    position: relative;
    left: 201px;
    top: -94px;
    margin: 0px -3px 0px -2px;
}

.label-anormalidade-a2 input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px;
    /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-anormalidade-a2 input[type="radio"]:checked {
    background-color: #008000;
    /* Cor quando selecionado */
    border-color: #008000
}

.label-anormalidade-a2 input[type="radio"]:focus {
    outline: 2px solid #008000
}

.form-group-comentarios {
    position: relative;
    bottom: -32px;
    width: 1086px;
    height: 45px;
}

.form-group-data-leitura {
    border: 1px solid #008000;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 309px;
    height: 111px;
    /* margin: 0px 0px 0px 0px; */
    top: -1560px;
    left: -2px;
}

.form-group-data-leitura label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group-data-leitura p {
    position: relative;
    top: -28px;
    font-size: 19px;
    left: 1px;
    width: 193px;
    margin: 28px -69px 28px -1px;
}

.form-group-data-leitura #date {
    width: 80%;
    height: 40%;
    padding: 8px;
    margin-top: 24px;
    border: 1px solid #008000;
    color: #008000;
    border-radius: 0px;
    box-sizing: border-box;
    position: relative;
    font-size: x-large;
    top: 14px;
    left: -40px;
}

.form-group-data-leitura canvas {
    border: 1px solid #008000;
    cursor: crosshair;
}

.form-group-assinatura {
    position: relative;
    top: -1673px;
    left: 309px;
    width: 774px;
    height: 110px;
    font-size: 19px;
    border: 1px solid #008000;
    color: #008000;
}
.form-group-assinatura label{
    position: relative;
    left: -323px;
}
.fjdf-cod {
    position: relative;
    top: -1688px;
    left: -297px;
    color: #008000;
}



textarea {
    width: 100%;
    height: 223px;
    padding: 8px;
    font-size: 30PX;
    margin-top: 1000px;
    border: 1px solid #cccccc;
    background-color: rgba(139, 173, 240, 0.659);
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group-date label {
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    width: 136px;
    left: -23px;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: none;
}

textarea {
    width: 1028px;
    height: 231px;
    padding: 8px;
    font-size: 30PX;
    border: 1px solid #cccccc;
    background-color: #dde4ff;
    box-sizing: border-box;
    position: relative;
    top: -55px;
    left: 24px;
    margin: 0px 0px 0px 0px;
}

button:hover {
    background-color: #005500;
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container-name {
        flex-direction: column;
    }

    .form-group-name,
    .form-group-date,
    .form-group-nrx,
    .form-group-leitor {
        flex: 1 1 100%;
    }

    h1 {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="date"],
    input[type="radio"] {
        font-size: 14px;
    }
    
}
/* Configurações globais para impressão */
@media print {
    body {
        margin: 0;
        padding: 0;
        background: none;
        display: flex; /* Ativa o flexbox para centralização */
        align-items: center; /* Centraliza verticalmente */
        justify-content: center; /* Centraliza horizontalmente */
        height: 100vh; /* Garante que ocupa toda a altura da página */
    }

    .form-container {
        width: 60%; /* Define 60% da largura da página */
        height: auto; /* Ajusta a altura automaticamente */
        padding: 20px; /* Espaçamento interno */
        border: 1px solid #ccc; /* Opcional: borda para destaque */
        box-shadow: none; /* Remove sombras para impressão */
        page-break-inside: avoid; /* Evita quebras no meio do elemento */
        background: white; /* Garante um fundo branco */
    }
}

/* Configurações da página de impressão */
@page {
    size: A4; /* Define o tamanho do papel como A4 */
    margin: 0; /* Remove margens extras da página */
}

