body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f5;
    margin: 0;
    padding: 0;
}

.form-container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #008000;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px #008000;
    page-break-inside: avoid;
    /* Para impressão em PDF */
}

.form-container-name {
    max-width: 1099px;
    margin: 5px 0px auto;
    padding: 13px;
    border: 1px solid #008000;
    background-color: #ffffff;
    box-shadow: 0 0px 0px #008000;
    page-break-inside: avoid;
    position: relative;
    width: 1058px;
    height: 93px;
    top: -90px;
}

.form-header {
    text-align: center;
    color: #008000;
}

.form-header h1 {
    font-size: 24px;
}

.form-header p {
    font-size: 16px;
}
.form-group-qualidade-tecnica {
    border: 2px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 544px;
    height: 100px;
    top: -82px;
}
.form-group-qualidade-tecnica .a1 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.name-label-qualidade {
    position: relative;
    left: -148px;
    top: -21px;
}


.form-group-radiografia-normal {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 539px;
    height: 100px;
    top: -204px;
    left: 545px;
}
.form-group-radiografia-normal .b1 {
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}

.name-label-radiografia-normal {
    position: relative;
    left: -134px;
    top: -21px;
}

.form-group-2a {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1084px;
    height: 64px;
    top: -213px;
    /* left: 0px; */
}

.form-group-2a .a2{
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}
.label-name-anormalidade-a2 {
    position: relative;
    left: -317px;
    text-align: center;
    top: -21px;
}

#comentario {
    width: 91%;
    padding: 8px;
    /* margin-top: -7px; */
    border: 1px solid #008000;
    border-radius: 0px;
    font-size: larger;
    box-sizing: border-box;
    position: relative;
    top: -52px;
    left: 35px;
}
.name-label-comentario {
    position: relative;
    left: -188px;
    top: -47px;
}

.form-group-2b {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flexs;
    flex-direction: column;
    position: relative;
    width: 798px;
    height: 223px;
    top: -235px;
    /* left: 0px; */
}
.form-group-2b .b2{
    border: 2px solid #008000;
    width: 22px;
    height: 23px;
    text-align: center;
    display: flex;
    margin: -1px -1px;
    padding: 5px;
}
.label-name-pequenas-opacidades-b2 {
    position: relative;
    left: -247px;
    text-align: center;
    top: -24px;
}

.label-pequenas-opacidades-b2 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 63px;
    height: 22px;
    border: 1px solid #008000;
    align-items: center;
    gap: 3px;
    padding: 5px;
    position: relative;
    left: -1px;
    top: -27px;
    margin: -1px 0px 0px 0px;
}
.label-pequenas-opacidades-b2-01 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: flex;
    width: 56px;
    height: 22px;
    border: 1px solid #008000;
    align-items: center;
    gap: 14px;
    padding: 5px;
    position: relative;
    left: 74px;
    top: -95px;
    margin: -1px 0px -1px 0px;
}
.Primaria {
    border: 1px solid #008000;
    position: relative;
    width: 141px;
    height: 123px;
    left: 44px;
    top: -46px;
    /* z-index: 5; */
}
.Primaria p{
    position: relative;
    top: -14px;
}
.secundaria{
    border: 1px solid #008000;
    position: relative;
    width: 141px;
    height: 123px;
    left: 45px;
    top: 20px;
    /* z-index: 5; */

}


.form-group-name {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 815px;
    height: 58px;
    left: -14px;
    top: -14px;
}

.form-group-date {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 267px;
    height: 59px;
    margin: 4px 803px;
    top: -95px;
}

.form-group-nrx {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 271px;
    height: 59px;
    top: -101px;
    left: -14px;
}

.form-group-leitor {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 271px;
    height: 59px;
    left: 259px;
    top: -182px;
}

.form-group-rxdigital {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 271px;
    height: 58px;
    left: 531px;
    top: -263px;
}

.form-group-logo {
    border: 1px solid #008000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3px;
    position: relative;
    width: 122px;
    height: 83px;
}

.form-group-logo img {
    width: 150px;
    height: auto;
}

.form-group-logo-text {
    border: 2px solid #008000;
    margin-left: 20px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #008000;
    top: -89px;
    width: 960px;
    height: 83px;
    right: -104px;
}

.input-name {
    width: 100%;
    padding: 8px;
    margin-top: 23px;
    border: 1px solid #008000;
    border-radius: 0px;
    font-size: larger;
    box-sizing: border-box;
    position: relative;
    top: -5px;
    left: -38px;
}

.input-date {
    width: 81%;
    padding: 8px;
    margin-top: 24px;
    border: 1px solid #008000;
    color: #008000;
    border-radius: 0px;
    box-sizing: border-box;
    position: relative;
    font-size: x-large;
    top: -5px;
    left: 21px;
}

.input-numero-rx {
    width: 73%;
    padding: 7px;
    margin-top: 25px;
    border: 1px solid #008000;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: x-large;
    position: relative;
    top: -6px;
    left: -28px;
}

.input-Leitor {
    width: 57%;
    padding: 5px;
    margin-top: 25px;
    border: 1px solid #008000;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: x-large;
    position: relative;
    TOP: -7PX;
    left: -50px;
}


label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    cursor: pointer;
}
.label-rxgidital {
    position: relative;
    top: 8px;
    left: -32px;
    display: flex;
    gap: 51px;
    align-items: center;
}

.label-rxgidital label {
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o quadrado e o texto */
}

.label-rxgidital input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px; /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-rxgidital input[type="radio"]:checked {
    background-color: #008000; /* Cor quando selecionado */
    border-color: #008000;
}

.label-rxgidital input[type="radio"]:focus {
    outline: 2px solid #008000;
}
.form-group-leitura-negatoscópio {
    border: 1px solid #008000;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 267px;
    height: 59px;
    left: 803px;
    top: -344px;
}
.leitura-negat {
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    padding: 0px;
}

.text-datarx{
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    position: absolute;
    padding: 0px;
}
.label-negatoscopio {
    position: relative;
    top: 7px;
    left: 50px;
    display: flex;
    gap: 51px;
    align-items: center;
}

.label-negatoscopio label {
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o quadrado e o texto */
}

.label-negatoscopio input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px; /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.label-negatoscopio input[type="radio"]:checked {
    background-color: #008000; /* Cor quando selecionado */
    border-color: #008000
}

.label-negatoscopio input[type="radio"]:focus {
    outline: 2px solid #008000
}
.label-qualidade-tecnica label {
    font-size: 16px;
    font-weight: bold;
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    border: 1px solid #008000;
    align-items: center;
    gap: 2px;
    padding: 3px;
    position: relative;
    left: 30px;
    top: -49px;
    margin: 0px -3px 0px -2px;
}
.label-qualidade-tecnica input[type="radio"]{
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px; /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.label-qualidade-tecnica input[type="radio"]:checked{
    background-color: #008000; /* Cor quando selecionado */
    border-color: #008000
}

.label-qualidade-tecnica input[type="radio"]:focus {
    outline: 2px solid #008000
}

.labe-radiografia-normal label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    /* border: 1px solid #008000; */
    align-items: center;
    gap: 2px;
    padding: 3px;
    position: relative;
    left: -17px;
    top: -12px;
    margin: 0px -3px 0px -2px;
}

.labe-radiografia-normal input[type="radio"]{
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px; /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.labe-radiografia-normal input[type="radio"]:checked{
    background-color: #008000; /* Cor quando selecionado */
    border-color: #008000
}
.labe-radiografia-normal input[type="radio"]:focus {
    outline: 2px solid #008000
}

.label-anormalidade-a2 label {
    font-size: 16px;
    /* font-weight: bold; */
    color: #008000;
    cursor: pointer;
    display: inline-flex;
    /* border: 1px solid #008000; */
    align-items: center;
    gap: 12px;
    padding: 42px;
    position: relative;
    left: 201px;
    top: -94px;
    margin: 0px -3px 0px -2px;
}
.label-anormalidade-a2 input[type="radio"]{
    width: 20px;
    height: 20px;
    border: 2px solid #008000;
    border-radius: 4px; /* Cantos levemente arredondados */
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.label-anormalidade-a2 input[type="radio"]:checked{
    background-color: #008000; /* Cor quando selecionado */
    border-color: #008000
}
.label-anormalidade-a2 input[type="radio"]:focus {
    outline: 2px solid #008000
}



textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group-date label {
    display: inline;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    width: 136px;
    left: -23px;
}

input[type="radio"] {
    margin-right: 5px;
}

textarea {
    resize: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #008000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005500;
}



