


@media screen and (max-width: 768px) {
    .form-container {
        padding: 10px;
        zoom: 0.8;
    }

    input, select, textarea {
        font-size: 14px;
        padding: 8px;
    }
}
@media print {
    html, body {
        margin: 0;
        padding: 0;
        width: 250mm;
        height: 297mm;       
        
    }

    .zoom-wrapper {       
        
        width: 250mm;
        height: 297mm;
        zoom: 0.78;
       
        top: 1%;
        
        padding: 0;
        page-break-inside: avoid;
        page-break-before: always;
    
    }

    .form-container {
       
        width: 220mm;
        height: 297mm;
        margin: 0mm 0mm 0mm 0mm;
        padding: 0;
        page-break-inside: avoid;
        page-break-before: always;
    
    }
    .label-pequenas-opacidades-b2-secundaria-01 label {      
        top: -130px;   
    }
    .label-pequenas-opacidades-b-Zonas-01 label{
        top: -152px;
        height: 20px;
    }
    .label-pequenas-opacidades-b2-01 label {
        top: -130px;
    }
    .label-pequenas-opacidades-c-profusao-01 label {
        top: -152px;
    }
    .label-pequenas-opacidades-c-profusao-02 label{
        top: -280px;
    }
    .label-anormalidade-a3 label{
        top: -178px;
    }
    .item {
        width: 34px;
    }
    .content-comentario .form-group-3a{
        height: 142px;
    }
    
    .form-group-assinatura{
        top: -1795px;
    }
    .form-group-data-leitura{
        top: -1684px;
    }
    .fjdf-cod{
        top: -1810px;
    }
    /* Prevenir quebras indesejadas */
    table, tr, td, th, img, h2, h3, h4 {
        page-break-inside: avoid !important;
    }
    

    @page {
        size: A4 portrait;
        margin: 0;
    }
}
